body {
  font-family: Arial, sans-serif;
  background-color: #f0e6f7; /* pastel purple */
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  position: fixed; /* Fixed position to keep it at the top */
  top: 0; /* Align the header to the top of the viewport */
  width: 100%; /* Make the header span the entire width */
  z-index: 1000; /* Ensure the header appears on top of other content */
  background-color: #ffabca; /* pastel pink */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 0;
}

.content {
  margin-top: 80px; /* Adjust the margin to push content below the fixed header */
}

.container {
  text-align: center;
  width: 1000px; /* Example width */
  height: 800px; /* Example height */
  overflow: scroll; /* Apply overflow scroll */
}

h1 {
  font-size: 2.5em;
  color: #ff7bac; /* pastel pink */
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  color: #ff98be; /* lighter shade of pastel pink */
  margin-bottom: 20px;
}

.minor-section {
  background-color: #e8d7f9; /* other shades of pastel purple */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.cat-photo {
  border-radius: 10px;
  margin: 10px;
  max-width: 600px;
}


